{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'users/course.css' %}">
{% endblock css %} 

{%block js%}{%endblock js%}


{% block pagetitle %}
{% endblock pagetitle %}


{% block body %}



    <div class="container">
        <h2>Available Courses</h2>
        <ul>
            {% for course in courses %}
                <li>
                    <strong>{{ course.title }}</strong>: {{ course.description }}
                    {%if request.user.user_type == 'student'%}
                    <a href="{% url 'users:request_enrollment' course.id %}" class="enroll-button">Request Enrollment</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>No courses available.</li>
            {% endfor %}
        </ul>
        {%if request.user.user_type == 'faculty'%}
        <a href="{% url 'users:create_course' %}" class="create-course-button">Create New Course</a>
        {% endif %}
    </div>

    {%endblock body%}

