{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'users/course.css' %}">
{% endblock css %} 

{%block js%}{%endblock js%}


{% block pagetitle %}
{% endblock pagetitle %}


{% block body %}



    <div class="container">
        <h2>Available Courses</h2>
        <ul>
            {% for course in courses %}
                <li>
                    <strong>{{ course.title }}</strong>: {{ course.description }}
                    <a href="{% url 'users:request_enrollment' course.id %}">Request Enrollment</a>
                </li>
            {% empty %}
                <li>No courses available.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'users:create_course' %}">Create New Course</a>
    </div>

    {%endblock body%}

