<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Course</title>
    <link rel="stylesheet" href="{% static 'users/course.css' %}"> 
</head>
<body>
    <div class="container">
        <h2>Create New Course</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Course</button>
        </form>
        <a href="{% url 'users:course_list' %}">Back to Course List</a>
    </div>
</body>
</html>
