{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'users/course.css' %}">
{% endblock css %} 

{%block js%}{%endblock js%}


{% block pagetitle %}
{% endblock pagetitle %}


{% block body %}

    <h1>Request Enrollment</h1>
     
    <div class="container">
        <h2>Request Enrollment</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Request Enrollment</button>
        </form>
        <a href="{% url 'users:course_list' %}">Back to Course List</a>
    </div>

{% endblock body%}
