body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    background-color: #FFDD57;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 600px; /* Increase width to make it wider */
    max-width: 80%;
    text-align: center;
}

.register-form h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.register-form form {
    display: flex;
    flex-direction: column;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.register-form button {
    padding: 12px;
    background-color: #333;
    color: #fff;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

.register-form button:hover {
    background-color: #444;
}





.register-link {
    margin-top: 15px;
    text-align: center;
    color: #333333;
}

.register-link a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
