<!DOCTYPE html>
{%load static %}
<html lang="en">
{%block css%}  {%endblock css%}
{%block js%} {%endblock js%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block pagetitle%}
    {%endblock pagetitle%}
    
    <link rel="stylesheet" href="{% static 'styles.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="container">

            <nav class="navbar">
                <ul>
                    <li><a href="{% url 'lms:home' %}">Home</a></li>
                    <li><a href="users:course_list">Content</a></li>

                    <li><a href="{% url 'users:course_list' %}">View Courses</a></li>

                    
                    <li><a href="lms:announcements">Announcements</a></li>
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                    
                    <li class="logout"> 
                        <form action="{% url 'users:logout' %}" method="post">
                            {% csrf_token %}
                            <button class="logout-button">Logout</button>
                        </form>
                    </li>

                    
                </ul>
            </nav>
        </div>
    </header>


    {% block body %}
    {%endblock body%}





    <!-- Footer Section -->
    <footer class="footer">
        <div class="container footer-content">
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="{% url 'lms:home' %}">Home</a></li>
                    <li><a href="users:course_list">Courses</a></li>
                    <li><a href="{% url 'users:login' %}">Login</a></li>
                    <li><a href="{% url 'lms:home' %}">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
        </div>
            <div class="footer-column">
                <h3>Contact</h3>
                
                <div class="contact-item" id="email"><p>Email:
                    <a href="mailto:nipa20farzana@gmail.com">nipa20farzana@gmail.com</a></p></div>
                <div class="contact-item" id="phone"><p>Phone:
                    <a href="tel:+88017*******">+880 17* *** ****</a></p></div>

            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 MyLMS. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
